# This is Git's per-user configuration file.
[user]
	name = Felix Dumbeck
	email = felix@dumbeck.net
	signingkey = ~/.ssh/id_rsa.pub
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = emacs
[push]
	autoSetupRemote = true
[github]
	user = bird-dancer
[gitlab]
	user = bird-dancer	
[sendemail]
	verify = off
[gpg]
	format = ssh
	helper = store
[commit]
	gpgsign = true
	helper = store
[credential]
	helper = store
	#credentialStore = gpg
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
