# This is Git's per-user configuration file.
[user]
	name = Felix Dumbeck
	email = felix@dumbeck.net
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = emacs
[push]
	autoSetupRemote = true
[github]
	user = bird-dancer
[gitlab]
	user = bird-dancer	
[sendemail]
	verify = off
