# This is Git's per-user configuration file.
[user]
	name = Felix
	email = f.dumbeck@campus.tu-berlin.de
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = emacs

[push]
	autoSetupRemote = true
[github]
	user = bird-dancer
